/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
  font-size: 62.5%;
  font-weight: 400;
  color: #2f3542;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}